/*공통 css*/
*{ padding: 0; margin: 0; font-family: 'Gowun Dodum', sans-serif;}
html, body{ width: 100%; font-size: 15px; }
section{ width: 80%; padding: 11% 10% 0 10%;}
h2{ margin-bottom: 5%;}
/*엘리먼트 초기화*/
a{ color: inherit; text-decoration: none; }
p{margin: 0;}
input {box-sizing: border-box;}
img{ vertical-align: bottom; }
ul, li{ padding: 0; margin: 0; list-style: none; }
.tit{ font-size: 27px;  font-weight: 600; }

.snslink{
    padding-top: 2%;
}
.snslink a{
    padding-right: 20px;
}
/*My Timeline*/
.Timeline{
     padding-top: 7%;   
}
.Timeline .tit{
    text-align: center;
}
.Timeline .Timeline_contant{ 
    margin-top: 5%;
}
.time{
    width: 100%;
    text-align: center; 
}
.time .time_tit{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 4%;
    padding-top: 4%;
}
.time .year{
    width: 200px;
    display: inline-block;
    line-height: 40px;
    border: 1px solid #222;
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}
.career{
    padding-top: 2%;
}

.career .title{
    font-size: 16px;
    padding-top: 28px;
    padding-bottom: 15px;
}
.career p{
    padding-top: 7px;
}
.career span{
    padding-right: 20px;
}

/*projectIntro*/
.projectIntro .project_info{
    display: flex;
    gap: 21px;
}
.projectIntro .project_info{
    margin-top: 4%;
}
.projectIntro .project_info > div{
    flex: 1;
}
.projectIntro .info_tit {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 6%;
}
.project_info span{
    font-weight: 600;
    display: inline-block;
    padding-bottom: 8px;
}
.infoLink{
    font-weight: 600;
    font-size: 16px;
    margin-top: 4%;
    padding-bottom: 13px;
}
.infoLink span{
    font-size: 15px;
    font-weight: 500;
    color: #888;
}

/*project*/
.project .project_tit{
    display: flex;
}
.project .project_img{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.project .project_img img{
    width: 100%;
}
.projectIntro .keywardIntro{
    margin-top: 5%;
    font-size: 16px;
    font-weight: 600;
}
.projectIntro .keywardIntro span{
    font-size: 19px;
}
.projectIntro .keywardIntro .context{
    line-height: 26px;
    margin-top: 10px;
}

/*blog*/
.blogTit{
    font-size: 23px;
    margin-bottom: 2%;
}
.blog ul{
    margin-top: 1%;
}
.blog li{
    font-size: 17px;
    padding-bottom: 16px;
}
.blog .title{
    font-weight: 600;
    margin-top: 2%;
    padding-bottom: 13px;
}


/*mySkil*/
.mySkil .mySkil_tit{
    display: flex;
}
.mySkil .skilList{
    display: flex;
    margin-top: 5%;
}
.mySkil .skilList ul{
    flex: 1;
}
.mySkil .skilList ul li{
    display: flex;
    justify-content: center;
    line-height: 90px;
    font-size: 17px;
}
.mySkil .skilList ul li img{
    width: 90px;
}

 /*point*/
.point .tit{
    padding-bottom: 5%;   
}
.point .point_contant li:not(:last-child){
    padding-bottom: 5%;
}
.point .point_contant span{
    font-weight: 600;
    display: block;
}
.point .point_contant p{
    margin-top: 7px;
}

/*point 슬라이드*/
.bx-wrapper{    
    margin: 10%;
}

/*point1*/

/*chart*/
.chart #myChart{
    margin-top: 5%;
}
.chart p{
    margin-top: 10px;
}
.chart .poii{
    margin-top: 20px;
}
.poi{
    font-size: 16px;
    font-weight: 600;
    padding-left: 25px;
}

/*myIntro*/
.myIntro{
    padding-bottom: 8%;    
}
.myIntro .tit{
    padding-bottom: 22px;    
}
.myIntro .intro1{
    margin-bottom: 4%;
}
.myIntro p{
    line-height: 29px;
    font-size: 17px;
}
.myIntro p .title{
    display: block;
    padding-bottom: 20px;
    padding-top: 25px;
}
.myIntro p .point{
    display: inline-block;
    font-weight: 600;
}
.myIntro .link{
    padding-top: 35px;
}
.myIntro .link a{
    padding-right: 20px;
}

/*미디어쿼리*/
@media (min-width: 767px){
    section{ 
        width: 1200px;  
        margin: 0 auto;
    }
    .tit{
        font-size: 33px;
    }
    /*Timeline*/
    .Timeline .Timeline_contant{
        display: flex;
        justify-content: center;
    }
    
    /*project*/
    .project_tit .tit{
        flex: 0.8;
    } .project_tit h4{
        flex: 1.2;
    }
    
    /*mySkil*/
    
    /*point*/
    .point{
        display: flex;
    }
    .point .point_title{
        flex: 0.7;
    }
    .point .point_contant{
        flex: 1.3;
    }
    
    /*blog*/
    .blog .linkListk{
        display: flex;
        
    }
    .blog .linkListk ul{
        flex: 1;
    }
    /*point 슬라이드*/
    .bx-wrapper{
        max-width: 1200px !important;
        margin: 0 auto;
        margin-top: 4%;
    }
    
    /*myIntro*/
    .myIntro .intro1{
    display: flex;
    gap: 30px;
    margin-bottom: 4%;
}
<<<<<<< HEAD
}
=======
}
>>>>>>> 6dea6ba3f2d418d115cb9754573ca7f070727527
